<div class="border-border bg-primary h-full rounded-md border p-1">
  <h2 class="p-4 text-lg font-semibold">All transactions</h2>
  <ul class="flex flex-col">
    <li>
      <div class="border-border flex items-center gap-4 border-t p-4">
        <div class="bg-surface flex h-10 w-10 items-center justify-center rounded-md font-bold">
          S
        </div>
        <div class="mr-auto flex flex-col gap-0.5">
          <h3 class="font-semibold">Subscription</h3>
          <p class="text-foreground-muted text-xs">Subscriptions - Maib</p>
        </div>
        <div class="flex flex-col items-end gap-0.5">
          <p class="font-semibold text-green-500">+{{ 3200 | currency: 'EUR' }}</p>
          <p class="text-foreground-muted text-xs">Jul 3 2026</p>
        </div>
      </div>
    </li>
    <li>
      <div class="border-border flex items-center gap-4 border-t p-4">
        <div class="bg-surface flex h-10 w-10 items-center justify-center rounded-md font-bold">
          S
        </div>
        <div class="mr-auto flex flex-col gap-0.5">
          <h3 class="font-semibold">Subscription</h3>
          <p class="text-foreground-muted text-xs">Groceries - Maib</p>
        </div>
        <div class="flex flex-col items-end gap-0.5">
          <p class="font-semibold text-green-500">+{{ 3200 | currency: 'EUR' }}</p>
          <p class="text-foreground-muted text-xs">Jul 3 2026</p>
        </div>
      </div>
    </li>
  </ul>
</div>
