<div class="border border-border p-4 rounded-md bg-primary">
  <div class="bg-surface rounded-md font-bold w-10 h-10 flex items-center justify-center mb-4">
    C
  </div>
  <h2 class="font-semibold text-base">Cash</h2>
  <p class="text-foreground-muted mb-4">Cash wallet</p>

  <p class="font-bold text-lg md:text-xl lg:text-2xl mb-4">1250.5 EUR</p>

  <div class="pt-4 border-t border-border flex items-center justify-between">
    <p class="text-foreground-muted">42 transactions</p>
    <p class="font-semibold text-green-500">+2.4%</p>
  </div>
</div>
