@import 'tailwindcss';
@import 'primeicons/primeicons.css';

@theme {
  --color-background: oklch(14.1% 0.005 285.823);
  --color-primary: oklch(21% 0.006 285.885);
  --color-primary-hover: oklch(27.4% 0.006 286.033);
  --color-primary-active: oklch(27.4% 0.006 286.033);
  --color-primary-disabled: oklch(27.4% 0.006 286.033);
  --color-primary-foreground: oklch(96.7% 0.001 286.375);

  --color-surface: oklch(27.4% 0.006 286.033);
  --color-border: oklch(27.4% 0.006 286.033);
  --color-foreground: oklch(96.7% 0.001 286.375);
  --color-foreground-muted: oklch(55.2% 0.016 285.938);

  --color-inverse: oklch(96.7% 0.001 286.375);
  --color-inverse-hover: oklch(87.1% 0.006 286.286);
  --color-inverse-active: oklch(87.1% 0.006 286.286);
  --color-inverse-disabled: oklch(87.1% 0.006 286.286);
  --color-inverse-foreground: oklch(21% 0.006 285.885);
}

::-webkit-scrollbar {
  @apply h-2 w-2;
}

::-webkit-scrollbar-thumb {
  @apply rounded-sm bg-surface;
}

::-webkit-scrollbar-track {
  @apply rounded-sm bg-inverse;
}
